.container {
  padding-top: 10px;
}

.form-container,
.table-container 
{
  max-width:100%;
  margin: 0 auto;

}
.form-container {
    display: flex;
    justify-content: center;
    margin-top: 0;
    flex-direction: column;
    align-items: center;
}
.welcome-container{
    margin-top: 30px;
    width:800px;
    display:flex;
    justify-content: center;
}
.welcome{
    width:200px;
    margin-bottom: 10px;
}
.form-container
{
      border:thin solid #aaaaaa;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-image: linear-gradient(to right, #0055ff , #99bbff);
}


.logout
{
    margin-bottom:30px;
}

/* link buttons */
.green-button,
.red-button,
.blue-button
{

    margin-bottom: 10px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  cursor:pointer;
    background-color: #0d0d26;
}






/* end of link buttons */




input [type="button"] 
{
color:pink;
}





.table-container table
{
    width:100%;
    border-collapse:collapse;
}

.table-container thead
{
    background-color: #aaa;
    color:#fff;
    text-align: left;
    text-transform: capitalize;
}



.table-container thead th,
.table-container tbody td
{
    padding:5px;
}
.table-container tbody tr:nth-child(odd) 
{
    background-color: #eee;
}

.table-container tbody tr:nth-child(even) 
{
    background-color: #ffa;
}

.add-new-tshirt
{
    margin-top:1em;
}

#profilePhoto
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: thin solid #aaa;
    float:right;
    background-size:contain;
}

.tshirtPhotos
{
    overflow-x: auto;
    white-space: nowrap;
    min-width:18em;
    max-width:18em;
}

.tshirtPhotos img
{
    width:5em;
    height:5em;
    padding:0;
    margin:0;
    margin-right:0.5em;
    border:thin solid #ccc;
}

.nav-item {
display: flex;
    width: 100%;
    background-color: #0d0d26;
    margin-top: 0;
}

tbody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
tr {
    display: flex;
    width: 300px;
    height: 200px;
    margin: 20px;
    padding: 10px;
    align-items: flex-end;
}

.photos-container {
    display: flex;
    flex-wrap: wrap;
}

.photo {
    flex: 1 0 30%;
    margin: 5px;
}
