

.form-container,
.table-container 
{
  max-width:100%;
  margin: 0 auto;

}
.form-container {
    display: flex;
    justify-content: center;
    margin-top: 0;
    flex-direction: column;
    align-items: center;
}
.welcome-container{
    margin-top: 30px;
    width:800px;
    display:flex;
    justify-content: center;
}
.welcome{
    width:200px;
    margin-bottom: 10px;
}
.form-container
{
      border:thin solid #aaaaaa;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-image: linear-gradient(to right, #0055ff , #99bbff);
}

.logout
{
    margin-bottom:30px;
}

/* link buttons */
.green-button,
.red-button,
.blue-button
{

    margin-bottom: 10px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  cursor:pointer;
    background-color: #0d0d26;
}






/* end of link buttons */




input [type="button"] 
{
color:pink;
}

.table-container table
{
    width:100%;
    border-collapse:collapse;
}

.table-container thead
{
    background-color: #aaa;
    color:#fff;
    text-align: left;
    text-transform: capitalize;
}



.table-container thead th,
.table-container tbody td
{
    padding:5px;
}
.table-container tbody tr:nth-child(odd) 
{
    background-color: #eee;
}

.table-container tbody tr:nth-child(even) 
{
    background-color:  #b3c6ff;
}

.add-new-tshirt
{
    margin-top:1em;
}

#profilePhoto
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: thin solid #aaa;
    float:right;
    background-size:contain;
}

.tshirtPhotos
{
    overflow-x: auto;
    white-space: nowrap;
    height: 400px;

}

.tshirtPhotos img
{
    padding:0;
    margin:0;
    margin-right:0.5em;
    border:thin solid #ccc;

}

.nav-item {
display: flex;
    width: 100%;
    background-color: #0d0d26;
    margin-top: 0;
}

tbody{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
}
tr {
    border-radius: 10px;
    display: flex;
    width: 350px;
    height: 370px;
    margin: 20px;
    padding: 5px;
    align-items: center;
    flex-direction: column-reverse;
}
.tbody.tr{
    border-radius: 10px;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}
.tr .tshirtPhotos .tshirteditdelete {
    position: absolute;
    top: 20px;
    width: 500px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}
 .tshirtPhotos{
    height: 300px;
     width: 270px;
}
.tshirtPhotos {
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    width: 800px;
    height: 50px;
    border-radius: 10px;
    border: none;
}






.photos-container {
    display: flex;
    flex-wrap: wrap;
}

.photo {
    max-width: 100px;
    max-height: 150px;
    margin: 5px;
}
.td ,img{
   max-width: 230px;
    max-height: 250px;
    border-radius:10px;
}
.td ,img:hover{
    transform : scale(1.1);
    transition: 0.5s;

}
.tshirtDetails ,li {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-family: "Lucida Console", "Courier New", monospace;

}
.edit-button,
.delete-button{
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.edit-button{
   background-color:  #0d0d26;
}
.delete-button {
    background-color: #0055ff;

}

.sponsors{
    display:flex;
    width: 500px;
    justify-content: space-evenly;
}
.add-new-tshirt .blue-button{
    display: flex;
    width: 400px;
    justify-content: center;
}
.add-new-tshirt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-button ,
.red-button,
.nav-item
{

    border-radius: 8px;
}
.material-symbols-outlined{
    font-size: 50px;
    color: black;

}
.material-symbols-outlined:hover{
    color: #0b5ed7;
}
.nav-item {
    display: flex;
    width: 100px;
    background-color: #0d0d26;
    margin-top: 0;
    justify-content: center;
height: 70px;
}

.logout {
    width: 80%;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    justify-content: space-around;
    margin-top: 50px;
}
.red-button{
    height: 40px;
}
.shoppingcart-tshirt{
    padding: 40px;
}
.photos-container {
    display: flex;
    height: 300px;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: flex-start;
}

button{
    border: none;
    background-color: #0d0d26;
    width: 100px;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;

}
.error {
    color: darkred;
    font-size: 20px;
    padding: 100px 100px;
}

.search-container{
    display: flex;
}