body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer{
  width: 100%;
  height: 400px;
  background-color: black;
}
header{
  width: 100%;
  height: 200px;
  background-color: #000080;
}

header img{
  height:150px;
  width:150px;
  margin-left:50px;
  margin-top: 25px;
}