body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
    width: 100%;
    height: 400px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
header{
  width: 100%;
  height: 150px;
  background-color: #000080;
  margin-bottom: 0;
}

header img{
  height:100px;
  width:100px;
  margin-left:50px;
  margin-top: 25px;
}
.root{
  margin-top: 0;
}

footer img{
  height:100px;
  width:100px;
}
hr{
    height: 4px;
    background: white;
    position: relative;
    top: 10px;
    border: none;
    width: 600px;
    margin-bottom: 30px;
    border-radius: 5px;
}

@media (min-width:700px) {
    body{
        margin: 0;
    }
    .My-header{
        width:100%;
    }
    header{
        width:100%;
    }
    footer{
        width: 100%;
    }
    #root {
        margin-top: 0;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
    }
    .My-footer{
        width:100%
    }

    .user-table{
        width: 50%;
    }
}